In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [27]:
data=pd.read_csv('boston.csv')

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  506 non-null    int64
 1   CRIM        506 non-null    float64
 2   ZN          506 non-null    float64
 3   INDUS       506 non-null    float64
 4   CHAS        506 non-null    float64
 5   NOX         506 non-null    float64
 6   RM          506 non-null    float64
 7   AGE         506 non-null    float64
 8   DIS         506 non-null    float64
 9   RAD         506 non-null    float64
 10  TAX         506 non-null    float64
 11  PTRATIO     506 non-null    float64
 12  B           506 non-null    float64
 13  LSTAT       506 non-null    float64
 14  target      506 non-null    float64
dtypes: float64(14), int64(1)
memory usage: 59.4 KB

In [29]:
data.head()

,Unnamed: 0,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [30]:
data.ZN.replace(0, np.nan, inplace=True)
data.CHAS.replace(0, np.nan, inplace=True)

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  506 non-null    int64
 1   CRIM        506 non-null    float64
 2   ZN          134 non-null    float64
 3   INDUS       506 non-null    float64
 4   CHAS        35 non-null     float64
 5   NOX         506 non-null    float64
 6   RM          506 non-null    float64
 7   AGE         506 non-null    float64
 8   DIS         506 non-null    float64
 9   RAD         506 non-null    float64
 10  TAX         506 non-null    float64
 11  PTRATIO     506 non-null    float64
 12  B           506 non-null    float64
 13  LSTAT       506 non-null    float64
 14  target      506 non-null    float64
dtypes: float64(14), int64(1)
memory usage: 59.4 KB

In [32]:
data.isnull().sum()/len(data)*100

Unnamed: 0     0.000000
CRIM           0.000000
ZN            73.517787
INDUS          0.000000
CHAS          93.083004
NOX            0.000000
RM             0.000000
AGE            0.000000
DIS            0.000000
RAD            0.000000
TAX            0.000000
PTRATIO        0.000000
B              0.000000
LSTAT          0.000000
target         0.000000
dtype: float64

In [34]:
data.drop([ 'ZN', 'CHAS'], axis=1, inplace=True)

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  506 non-null    int64
 1   CRIM        506 non-null    float64
 2   INDUS       506 non-null    float64
 3   NOX         506 non-null    float64
 4   RM          506 non-null    float64
 5   AGE         506 non-null    float64
 6   DIS         506 non-null    float64
 7   RAD         506 non-null    float64
 8   TAX         506 non-null    float64
 9   PTRATIO     506 non-null    float64
 10  B           506 non-null    float64
 11  LSTAT       506 non-null    float64
 12  target      506 non-null    float64
dtypes: float64(12), int64(1)
memory usage: 51.5 KB

In [36]:
data.isnull().sum()/len(data)*100

Unnamed: 0    0.0
CRIM          0.0
INDUS         0.0
NOX           0.0
RM            0.0
AGE           0.0
DIS           0.0
RAD           0.0
TAX           0.0
PTRATIO       0.0
B             0.0
LSTAT         0.0
target        0.0
dtype: float64

In [37]:
data.describe()

,Unnamed: 0,CRIM,INDUS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,252.500000,3.613524,11.136779,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,146.213884,8.601545,6.860353,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.000000,0.006320,0.460000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,126.250000,0.082045,5.190000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,252.500000,0.256510,9.690000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,378.750000,3.677082,18.100000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,505.000000,88.976200,27.740000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [38]:
X= data.iloc[:, :-1].values
y= data.iloc[:, -1].values

In [39]:
from sklearn.model_selection import train_test_split
X_train,X_test, y_train, y_test =train_test_split(X,y, test_size=0.3, random_state=0)

y_train =y_train.reshape(-1,1)
y_test =y_test.reshape(-1,1)

In [40]:
from sklearn.preprocessing import StandardScaler 

sc_X = StandardScaler()
sc_y = StandardScaler()

X_train =sc_X.fit_transform(X_train)
X_test = sc_X.fit_transform(X_test)

y_test= sc_y. fit_transform(y_test)
y_train= sc_y.fit_transform(y_train)

In [42]:
from sklearn.ensemble import RandomForestRegressor
model=RandomForestRegressor(n_estimators=500, criterion='mse', random_state=0)
model.fit(X_train, y_train)

<ipython-input-42-e16af611d313>:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(X_train, y_train)

RandomForestRegressor(n_estimators=500, random_state=0)

In [43]:
y_pred=model.predict(X_test)
y_pred=y_pred.reshape(-1, 1)
y_pred=sc_y.transform(y_pred)

In [50]:
conda update -n base -c defaults conda

Collecting package metadata (current_repodata.json): ...working... done
Note: you may need to restart the kernel to use updated packages.

Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\atika\anaconda3

  added / updated specs:
    - conda


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-4.8.5                |           py37_0         2.9 MB
    conda-package-handling-1.6.1|   py37h62dcd97_0         612 KB
    ------------------------------------------------------------
                                           Total:         3.5 MB

The following packages will be UPDATED:

  conda                                        4.8.2-py37_0 --> 4.8.5-py37_0
  conda-package-han~                   1.6.0-py37h62dcd97_0 --> 1.6.1-py37h62dcd97_0



Downloading and Extracting Packages

conda-4.8.5          | 2.9 MB    |            |   0%
conda-4.8.5          | 2.9 MB    |            |   1%
conda-4.8.5          | 2.9 MB    | ####9      |  49%
conda-4.8.5          | 2.9 MB    | ########## | 100%

conda-package-handli | 612 KB    |            |   0%
conda-package-handli | 612 KB    | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

In [2]:
from sklearn import metrics

print("MAE", metrics.mean_absolute_error(y_test, y_pred))

print("Score", model.score(X_test, y_test))

NameError: name 'y_test' is not defined